{% extends 'base.html.twig' %}

{% block content %}

    <div class="slide1"></div>
    <div>
        <p>
            Petit test pour voir si tout foncitonne bien
        </p>
    </div>
    <div class="slide2"></div>
    <div>

        Petit test pour voir si tout foncitonne bien
    </div>

{% endblock %}