{% extends 'base.html.twig' %}

{% block content %}

    <div class="slide1"></div>


    <div class="container-fluid text-center py-3 accueil-1">
        <h3>POUR VOTRE SEUL BONHEUR</h3>
        <p>
            Aussi loin que je me souvienne, mon enfance a
            toujours eu pour cadre l’environnement <br>majestueux des
            vignobles. Enfant, je suivais mon grand-père et ma mère dans
            les vignes et <br>j’étais fascinée par toute la magie qui entoure
            le monde chaleureux du Champagne.
        </p>
        <p>
            Plus tard, mon grand-père m’initia au vocabulaire et à la science des vins.
        </p>
        <p>
            Pour lui, un Champagne ne se fait pas:<br>
            il se pense, se crée, s’élabore.<br>
            Il est le résultat des plus fins assemblages de nos raisins.<br>
            Il est le fruit de la patience et de l’amour dont nous l’entourons au plus profond de nos caves.<br>
        </p>
        <p>
            Notre Maison familiale n’a jamais occupé le devant de la scène. Mais elle s’impose,
            jour après jour, auprès<br>des connaisseurs et cavistes comme éleveur de Champagnes de grande confiance.

        </p>
        <p>
            Chaque bouteille que nous élaborons pour vous représente plus de 50 ans de passion,<br>
            d’obstination, de tradition. Elle ne quitte nos caves taillées dans la craie que pour mettre de la joie dans vos cœurs.
        </p>
        <p>
            C’est là notre plus belle récompense.
        </p>
        <div>
        <img src="{{ asset('ressource/image/accueil/signature.jpg') }}">
        </div>
    </div>


    <div class="slide2"></div>


    <div class="accueil-2 container text-center">
        <div class="my-5 links">
        <div class="row edwardian">
            <div class="col py-2">
                <a href="#">La Maison</a>
            </div>
            <div class="col py-2">
                <a href="#">Le Savoir Faire</a>
            </div>
            <div class="col py-2">
                <a href="#">Les Champagnes</a>
            </div>
            <div class="col py-2">
                <a href="#">Le Vignoble</a>
            </div>
            <div class="col py-2">
                <a href="#">Acheter en ligne</a>
            </div>
        </div>
        <div class="row segoe">
            <div class="col py-2">
                <a href="#">HISTOIRE D'UNE PASSION PARTAGEE</a>
            </div>
            <div class="col py-2">
                <a href="#">VENDANGE ET PRESSURAGE</a>
            </div>
            <div class="col py-2">
                <a href="#">CARTE D'OR</a>
            </div>
            <div class="col py-2">
                <a href="#">LE VIGNOBLE CHAMPEGNOIS</a>
            </div>
            <div class="col py-2">
                <a href="#">MA CAVE</a>
            </div>
        </div>
        <div class="row segoe"">
            <div class="col py-2">
                <a href="#">POURQUOI PHILIPPE DE SORBON ?</a>
            </div>
            <div class="col py-2">
                <a href="#">VINIFICATION</a>
            </div>
            <div class="col py-2">
                <a href="#">CARTE NOIRE</a>
            </div>
            <div class="col py-2">
                <a href="#">NOS VIGNOBLES</a>
            </div>
            <div class="col py-2">
                <a href="#">MON COMPTE</a>
            </div>
        </div>
        <div class="row segoe"">
            <div class="col py-2">
                <a href="#">ORIGINE DU MYTHE CHAMPAGNE</a>
            </div>
            <div class="col py-2">
                <a href="#">ASSEMBLAGE</a>
            </div>
            <div class="col py-2">
                <a href="#">PERLES DE ROSE</a>
            </div>
            <div class="col py-2">
                <a href="#">LES CEPAGES</a>
            </div>
            <div class="col py-2">
            </div>
        </div>
        <div class="row segoe"">
            <div class="col py-2">

            </div>
            <div class="col py-2">
                <a href="#">VIELLISSEMENT SUR LIES</a>
            </div>
            <div class="col py-2">
                <a href="#">BLANCS DE BLANCS</a>
            </div>
            <div class="col py-2">
                <a href="#">LA VIGNE</a>
            </div>
            <div class="col py-2">
            </div>
        </div>
        <div class="row segoe"">
            <div class="col py-2">

            </div>
            <div class="col py-2">
                <a href="#">REMUAGE ET DEGORGEMENT</a>
            </div>
            <div class="col py-2">
                <a href="#">MILLESIME 2011</a>
            </div>
            <div class="col py-2">
            </div>
            <div class="col py-2">
            </div>
        </div>
        <div class="row segoe">
            <div class="col py-2">

            </div>
            <div class="col py-2">
                <a href="#">PLAISIRS CHAMPENOIS</a>
            </div>
            <div class="col py-2">
                <a href="#">INTEMPORELLE</a>
            </div>
            <div class="col py-2">

            </div>
            <div class="col py-2">

            </div>
        </div>
    </div>
    <div class="my-5">
        <p class="fs-08">
            L'abus d'alcool est dangereux pour la santé, à consommer avec modération
        </p>
    </div>
    <div>
        <div>
            <img class="w-25 mb-5" src="{{ asset('ressource/image/accueil/info-alcool-tri.jpg') }}">
        </div>

    </div>

    </div>

{% endblock %}