{% extends 'base.html.twig' %}

{% block content %}
    <div style="height: 500px; background-color: black;" class="relpos">
        <div class="w-50 text-center text-white m-auto segoe center-div">
            <h1>BOUTIQUE EN DEVELOPPEMENT</h1>

        </div>

    </div>

{% endblock %}