{% extends 'base.html.twig' %}

{% block meta %}
    <title>Conditions Générales de Vente</title>
    <meta name="description" content="Conditions générales de vente du site">
{% endblock %}

{% block content %}



    <div class="container fs-08 pb-5 cgu">
        <h1 class="active fs-14 pt-5 mt-2 text-center">CONDITIONS GENERALES DE VENTE</h1>
        <h2 class="segoe fs-12 py-3">Boutique en ligne | Champagne Philippe de Sorbon | www.champagne-philippedesorbon.com</h2>
        <p>
            Les présentes Conditions Générales de Vente sont conclues entre d’une part la SCEV M Wallaert, société civile d'exploitation viticole au capital de 1 432,98 €, immatriculée au RC de REIMS sous le numéro 414 240 416, dont le siège social est située au 18 rue Houzeau-Muiron 51100 REIMS, exploitant la marque Philippe de Sorbon, ci après dénommée Champagne Philippe de Sorbon, et d’autre part toute personne physique, ayant atteint l'âge minimum légal requis pour acheter de l'alcool (18 ans révolus en France), ou morale souhaitant procéder à un achat via la boutique en ligne de Champagne Philippe de Sorbon www.champagne-philippedesorbon.com  ci-après dénommé, l’Acheteur ou le Client.<br><br>
            Ces Conditions Générales de Vente décrivent les règles applicables à la vente des produits distribués par la SCEV M Wallaert dans le cadre de la boutique en ligne  www.champagne-philippedesorbon.com. Elles constituent l’intégralité des droits et obligations des parties, aucune autre condition ne pouvant s’intégrer à celles-ci. Elles s’appliqueront pendant toute la durée de mise en ligne des produits distribués.
        </p>
        <h2 class="fs-12 pt-5">1. PROTECTION DES MINEURS</h2>
        <p>
            Conformément aux articles L3342-1et L3353-3 du code de la santé publique, la vente de boissons alcooliques à des mineurs est interdite. Par conséquent, seules les personnes ayant dix-huit  ans révolus à la date où elles souhaitent commander sur le site www.champagne-philippedesorbon.com peuvent effectivement procéder à un achat en ligne sur ce site ou être destinataire d’un achat réalisé par une tierce personne.
        </p>
        <h2 class="fs-12 pt-5">2. AIRE GEOGRAPHIQUE</h2>
        <p>
            La vente en ligne des produits présentés sur le site www.champagne-philippedesorbon.com est réservée aux acheteurs souhaitant effectuer des livraisons en France Métropolitaine uniquement. Pour toute demande d’expédition de ces produits vers l’international, l’acheteur devra contacter directement le service commercial de la Maison wallaert@champagne-philippedesorbon.com
        </p>
        <h2 class="fs-12 pt-5">3. COMMANDES</h2>
        <p>
            Le client qui souhaite acheter des produits via la boutique en ligne www.champagne-philippedesorbon.com doit procéder de la façon suivante :
            <br>• remplir le bon de commande en ligne en cliquant sur les produits désirés et renseigner la quantité voulue;
            <br>• suivre les étapes de la commande et de sa validation en cliquant sur le bouton « commander » de la page « mon panier »;
            <br>• créer un compte en remplissant la fiche d’identification sur laquelle il indiquera tous les champs obligatoires ( nom, prénom, adresse de livraison, adresse de facturation, téléphone portable et fixe, email );
            <br>• accepter les Conditions générales de vente en cochant la case prévue à cet effet après les avoir lues. Il n’est pas possible de valider une commande sans la manifestation de cette adhésion entière et sans réserve des conditions générales de vente précisées dans le cadre de la boutique en ligne. Cette case cochée vaut ainsi reconnaissance de la part de l’acheteur d’avoir une parfaite connaissance de celles-ci;
            <br>• valider sa commande après l'avoir vérifiée
            <br>• procéder au règlement en ligne par carte bancaire de sa commande pour expédition dans la semaine, ou choisir le mode de règlement par chèque auquel cas la commande sera expédiée dans la semaine suivant la réception du chèque
            <br><br>
            Champagne Philippe de Sorbon accusera réception de la commande par l’affichage d’un message de confirmation qui mentionnera notamment le numéro de commande (envoi simultané d’un email récapitulatif de la commande au client). Les commandes validées sur www.champagne-philippedesorbon.com engagent contractuellement le client et Champagne Philippe de Sorbon en valant signature et acceptation des termes de l’opération commerciale réalisée.
            Champagne Philippe de Sorbon se réserve toutefois le droit de suspendre ou d’annuler toute commande anormalement élevée ou toute commande qui ne comporterait pas l’ensemble des informations nécessaires à la livraison des produits ou toute commande émanant d'un client en litige de paiement. Dans tous les cas, le client en sera informé par mail.
        </p>
        <h2 class="fs-12 pt-5">4. TARIFS</h2>
        <p>
            Les produits du catalogue sont ceux commercialisés sur la boutique en ligne www.champagne-philippedesorbon.com. Ces produits sont proposés dans la limite des stocks disponibles. Les prix en euros figurant dans ce catalogue sont des prix TTC tenant compte de la TVA applicable au jour de la commande. Tout changement du taux pourra être répercuté sur le prix des produits.<br><br>
            Le Champagne Philippe de Sorbon se réserve le droit de modifier ses prix à tout moment et sans préavis, étant toutefois entendu que le prix figurant sur le catalogue le jour de la commande sera le seul applicable à l’Acheteur.
        </p>
        <h2 class="fs-12 pt-5">5. PORT</h2>
        <p>
            La participation au frais de port pour la France Métropolitaine est un montant calculé en fonction de la commande. Il est indiqué au Client avant la validation de la commande et incombe au Client.<br><br>
            Le Franco de port est à partir de 24 bouteilles  par adresse de livraison pour la France Métropolitaine. Pour les autres destinations, nous contacter pour un devis.
        </p>
        <h2 class="fs-12 pt-5">6. PAIEMENT</h2>
        <p>
            Le paiement est exigible à la commande, et peut être réglé par carte bancaire  (CB, VISA et Eurocard/Mastercard) au prix tout compris (taxes, préparation de commande et frais de livraison) et en devise Euros. En cas de paiement par chèque, l'expédition sera différée jusqu'à réception du chèque.<br><br>
            Champagne Philippe de Sorbon met en œuvre tous les moyens pour assurer la confidentialité et la sécurité des données transmises surwww.champagne-philippedesorbon.com<br><br>
            Les paiements par carte bancaire sont assurés par la plateforme du CRCA.<br><br>
            Conformément à l'article L. 132-2 du Code monétaire et financier, l'engagement de payer donné au moyen d'une carte de paiement est irrévocable. En communiquant les informations relatives à sa carte bancaire, le Client autorise le Vendeur à débiter sa carte bancaire du montant correspondant au Prix Tout Compris. Dans le cas où le débit du Prix Tout Compris serait impossible, la Vente en Ligne serait de plein droit annulée.
        </p>
        <h2 class="fs-12 pt-5">7. LIVRAISON</h2>
        <p>
            Champagne Philippe de Sorbon livre en France Métropolitaine. Les frais de port sont automatiquement calculés sur notre site suivant la destination de la commande et la quantité de produits commandés.
            Les livraisons pour toute autre destination devront faire l’objet d’un devis spécifique.<br><br>

            Le délai de livraison des commandes est de 7 à 10 jours ouvrés pour la France Métropolitaine après la réception du règlement. Dans les jours non ouvrés sont inclus les samedis, dimanches et jours fériés, ainsi que les jours où le transport routier est interdit. La commande est livrée à l'adresse de livraison choisie par le Client.<br><br>

            Toute erreur ou modification faite par le Client dans un ordre de livraison en cours et ce quelle qu’elle soit, entraîne une prorogation du délai de livraison prévu. Les frais supplémentaires seront à la charge du Client
        </p>
        <h3 class="fs-12 font-italic font-weight-normal">A. Réception de la commande</h3>
        <p>
            Il appartient au client de vérifier le contenu du colis au moment de sa livraison et de formuler les éventuelles réserves – voire de refuser le colis - sur le bordereau de réception avant signature. Aucune réclamation ne pourra être jugée recevable si le Client a accepté sans réserve ses colis lors de leur livraison.<br><br>
            En cas de réserves, même si elles sont indiquées de façon claire, précise et complète, elles devront faire l'objet, dans les trois jours à compter de la livraison, d'une confirmation écrite par lettre recommandée avec accusé de réception au Transporteur, conformément à l'Article L 133-3 du Nouveau Code de Commerce.<br><br>
            En cas de refus du colis, le client pourra, s’il le souhaite, demander au Transporteur de renvoyer le colis, lequel devra être accompagné d’un « constat de spoliation », dont le Client conservera une copie.<br><br>
            Le Client doit par ailleurs faire parvenir une copie de cette lettre au Vendeur. Le défaut de réclamation dans le délai susmentionné et selon les modalités précitées éteint toute action contre le transporteur et le Vendeur conformément à l'article L. 133-3 du Code de commerce.<br><br>
            Le Client doit s'assurer que les Biens qui lui ont été livrés correspondent à la Commande.<br><br>
            En cas de non-conformité des Biens en nature ou en qualité aux spécifications mentionnées dans le bon de Livraison, le Client doit informer le Champagne Philippe de Sorbon par email ou par lettre recommandée avec accusé de réception et renvoyer les biens reçus (bouteilles) dans leur emballage d’origine à l'adresse suivante : Champagne Philippe de Sorbon 18 rue Houzeau-Muiron 51100 REIMS. Les frais d’envois du colis non conforme seront à la charge des Champagnes Philippe de Sorbon.<br><br>
            Champagne Philippe de Sorbon n'assume aucune responsabilité pour dommages indirects quelle qu'en soit l'origine. La responsabilité de Champagne Philippe de Sorbon ne saurait être engagée après la prise en charge par le client en cas de défaut constaté sur la marchandise imputables à de mauvaises conditions de stockage.

        </p>
        <h3 class="fs-12 font-italic font-weight-normal">B. Retard de livraison</h3>
        <p>
            En cas de retard de Livraison, la Commande n'est pas annulée. Le Vendeur informe le Client par courrier électronique que la Livraison interviendra avec du retard.<br><br>
            Dans le cas où la Commande n'a pas encore été expédiée lors de la réception par le Vendeur de l'avis d'annulation du Client, la Livraison est bloquée et le Client est remboursé des sommes éventuellement débitées dans un délai de trente jours suivant la réception de l'avis d'annulation. Dans le cas où la Commande a déjà été expédiée lors de la réception par le Vendeur de l'avis d'annulation du Client, le Client peut encore annuler la Commande en refusant le colis. Le Vendeur procédera alors au remboursement des sommes débitées et des frais de retour déboursés par le Client dans un délai de trente jours suivant la réception du retour du colis refusé complet et dans son état d'origine.
        </p>
        <h3 class="fs-12 font-italic font-weight-normal">C. Rupture de stock</h3>
        <p>
            La Commande est traitée par le Vendeur dans un délai maximum de deux jours ouvrés, hors délai de livraison.
            En cas de rupture de stock d’un bien commandé, Champagne Philippe de Sorbon contactera le Client, par e-mail, par courrier ou par téléphone, dans les meilleurs délais, afin de l’en informer et de convenir avec lui :
            <br>•	De décaler la Livraison en attendant le réapprovisionnement de ce Bien, lorsque cela est possible,
            <br>•	De remplacer le Bien par un autre équivalent en qualité et en prix,
            <br>•	D’annuler la commande et de rembourser le prix payé.
        </p>
        <h2 class="fs-12 pt-5">8. FORCE MAJEURE</h2>
        <p>
            Champagne Philippe de Sorbon est en droit d'annuler toute commande, et est notamment délié de toute obligation, en cas de force majeure ou de non-respect des délais de nos propres fournisseurs ou donneurs d'ordres, de catastrophes naturelles, de fait du prince, empêchant selon les prévisions, soit la fabrication, soit la livraison de fournitures. Sont considérés comme cas de force majeure : les grèves, incendies, inondations, accidents de matériels ou d'outillage, interruption de transports ou toutes autres modifications hors et dans l'entreprise empêchant l'exécution normale et prévisionnelle de nos ventes.
        </p>
        <h2 class="fs-12 pt-5">9. MODIFICATION – ANNULATION – RETRACTATION</h2>
        <h3 class="fs-12 font-italic font-weight-normal">Modification / annulation</h3>
        <p>
            Les commandes sont fermes, définitives et non susceptibles de modification, ni d’annulation, sauf conditions fixées par l’article 9.2 des présentes.
        </p>
        <h3 class="fs-12 font-italic font-weight-normal">Rétractation</h3>
        <p>
            Le Client dispose d'un droit de rétractation qu'il peut exercer dans un délai de 14 jours calendaires suivant la date de la réception ou du retrait de la Commande. Dans le cas où ce délai expire un samedi, un dimanche ou un jour férié ou chômé, il est prolongé jusqu'au premier jour ouvrable suivant.
            Le Client qui souhaite exercer son droit de rétractation doit retourner les Biens ou Produits dans le délai susmentionné, dans leur emballage d'origine, complets, neufs, étant précisé que les frais de retour sont à la charge du Client.
        </p>
        <h2 class="fs-12 pt-5">10. CONTESTATIONS – ATTRIBUTION DE JURIDICTION – LOI APPLICABLE</h2>
        <p>
            Les ventes réalisées par nos soins sont toutes soumises au droit français. Tout différend qui n’aurait pu être réglé à l’amiable sera de la compétence exclusive du Tribunal de Commerce de Reims.
        </p>


    </div>


{% endblock %}

