{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <p>
            {{ user.firstName }}
        </p>

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
