{% extends 'base.html.twig' %}

{% block content %}

    <div class="maison-slide1"></div>


    <div class="container-fluid text-center py-3">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus sit amet massa ac blandit. Nunc nisi ligula, vestibulum vitae felis sed, porta commodo arcu. Ut et suscipit dolor. Donec posuere a sem ac mollis. Cras porttitor orci sit amet lorem sodales, ut eleifend lacus aliquet. Praesent porttitor tincidunt nulla eget sagittis. Mauris eu velit sit amet felis condimentum vestibulum at sit amet elit. Suspendisse vel tellus vitae odio blandit venenatis in et massa. Suspendisse interdum dui nulla. Mauris id libero pharetra nisl eleifend gravida.

            Nam velit metus, mattis a metus sit amet, laoreet euismod eros. Praesent elementum augue id nibh scelerisque vulputate. Etiam rhoncus imperdiet odio, nec fermentum nisl mattis a. Nulla facilisi. Praesent sed nisl nec elit molestie lobortis. Donec blandit fermentum urna et tincidunt. Integer mauris nunc, fringilla sed congue a, tempus et augue. Nullam feugiat diam erat, fringilla efficitur massa laoreet quis. Morbi sed sollicitudin tortor.

            Maecenas in rutrum mauris, lobortis pharetra ante. Donec porta nisi elit, vitae elementum augue tristique et. Mauris mattis nisi non metus pulvinar venenatis. Integer in fringilla orci, sagittis finibus mi. Nullam quis erat ultricies, convallis dui vitae, rhoncus nulla. Praesent feugiat lectus vel mattis imperdiet. Suspendisse ut iaculis ex. In fringilla tellus magna, eu interdum turpis pulvinar sit amet. Praesent neque eros, vestibulum ac consectetur nec, elementum at diam. Sed fermentum finibus ornare. In hac habitasse platea dictumst. Ut ullamcorper magna eu ullamcorper vulputate.
        </p>
    </div>


    <div class="maison-slide2"></div>
    <div class="container-fluid text-center py-3">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus sit amet massa ac blandit. Nunc nisi ligula, vestibulum vitae felis sed, porta commodo arcu. Ut et suscipit dolor. Donec posuere a sem ac mollis. Cras porttitor orci sit amet lorem sodales, ut eleifend lacus aliquet. Praesent porttitor tincidunt nulla eget sagittis. Mauris eu velit sit amet felis condimentum vestibulum at sit amet elit. Suspendisse vel tellus vitae odio blandit venenatis in et massa. Suspendisse interdum dui nulla. Mauris id libero pharetra nisl eleifend gravida.

            Nam velit metus, mattis a metus sit amet, laoreet euismod eros. Praesent elementum augue id nibh scelerisque vulputate. Etiam rhoncus imperdiet odio, nec fermentum nisl mattis a. Nulla facilisi. Praesent sed nisl nec elit molestie lobortis. Donec blandit fermentum urna et tincidunt. Integer mauris nunc, fringilla sed congue a, tempus et augue. Nullam feugiat diam erat, fringilla efficitur massa laoreet quis. Morbi sed sollicitudin tortor.

            Maecenas in rutrum mauris, lobortis pharetra ante. Donec porta nisi elit, vitae elementum augue tristique et. Mauris mattis nisi non metus pulvinar venenatis. Integer in fringilla orci, sagittis finibus mi. Nullam quis erat ultricies, convallis dui vitae, rhoncus nulla. Praesent feugiat lectus vel mattis imperdiet. Suspendisse ut iaculis ex. In fringilla tellus magna, eu interdum turpis pulvinar sit amet. Praesent neque eros, vestibulum ac consectetur nec, elementum at diam. Sed fermentum finibus ornare. In hac habitasse platea dictumst. Ut ullamcorper magna eu ullamcorper vulputate.
        </p>

    </div>
    <div class="maison-slide3">


    </div>

{% endblock %}