{% extends 'base.html.twig' %}

{% block content %}

<div class="container fs-08 text-center segoe">
    <h3 class="active">MENTIONS LEGALES - CONDITIONS GENERALES D'UTILISATION</h3>
    <h4>Editeur - Contact</h4>
    <p>
        Le site Internet www.Champagne-philippedesorbon.com (ci-après le "Site") est édité par
        la  SCEV M WALLAERT ( ci-après la "société" )
        société civile d'exploitation viticole au capital de 1 432,98 €,
        immatriculée au RC de REIMS sous le numéro 414 240 416,
        siège social  18 rue Houzeau-Muiron 51100 REIMS,
        exploitant la marque Philippe de Sorbon, ci après dénommée Champagne Philippe de Sorbon
        N° TVA Intra FR 37 414 240 416,
        Tél +33 3 26 40 54 66
    </p>
    <p>
        Responsable de publication : Martine Wallaert<br>
        wallaert@champagne-philippedesorbon.com
    </p>
    <h4>Hébergeur</h4>
    <p>
        Le Site est hébergé par la société OVH<br>
        SAS au capital de 10 069 020 €<br>
        RCS Lille Métropole 424 761 419 00045<br>
        Code APE 2620Z<br>
        N° TVA : FR 22 424 761 419<br>
        Siège social : 2 rue Kellermann - 59100 Roubaix - France
    </p>
</div>
<div class="container">


</div>


{% endblock %}