{% extends 'base.html.twig' %}

{% block content %}
    <div class="savoirfaire-slide1">

    </div>
    <div>
        <nav id="savoir-faire-nav">
            <ul class="savoir-faire-list justify-content-around">
                <li class="px-3"><a href="#Vendange">Vendange et pressurage</a></li>
                <li class="px-3"><a href="#Vinification">Vinification</a></li>
                <li class="px-3"><a href="#Assemblage">Assemblage</a></li>
                <li class="px-3"><a href="#Vieillissement">Vieillissement sur lies</a></li>
                <li class="px-3"><a href="#Remuage">Remuage et dégorgement</a></li>
                <li class="px-3"><a href="#Gastronomie">Gastronomie</a></li>
            </ul>
        </nav>
        <div class="text-center my-2">

            <div class="segoe font-weight-bold active my-3 fs-12">
                "UN SECRET SI LONGTEMPS GARDE ET MAINTENANT PARTAGE"
            </div>
        </div>
    </div>
    <div class="savoirfaire-slide2 relpos" id="Vendange">
        <div style="position: absolute; left: 5%; top: 15%; width: 30%;" class="text-white segoe fs-08">
            <h4 class="text-weight-bold">VENDANGES ET PRESSURAGE</h4>
            <p>
                Les raisins sont cueillis avec précaution
                à la main par un hourdon, équipe de vendangeurs,
                au meilleur moment de leur maturation. Ils sont
                apportés aux pressoirs du Mesnil sur Oger, de Mailly
                et de Reims, où ils sont triés par Cru et Cépage pour
                être rapidement pressés.<br>
                Ceux issus des plus belles vignes seront réservés
                pour les Millésimes, si l’année s’avère avoir un
                potentiel exceptionnel.
            </p>
            <p>
                Chaque « marc », soit 4000 kilogrammes de raisin,
                donne 2550 litres de jus, qui sont fractionnés.
                Les 2 050 premiers litres, les meilleurs, dits de
                1ère presse, constituent la Cuvée. Puis viennent
                500 litres de Taille lorsque l’on a « retroussé »,
                c’est-à-dire taillé le marc : les pressureurs retournent
                à la fourche les raisins après la première presse.
            </p>
            <p class="font-weight-bold">
                Nos Champagnes Carte d’Or, Millésimes et Cuvée
                Intemporelle sont exclusivement élaborés à partir
                de la première presse de nos trois cépages.
            </p>


        </div>

    </div>
    <div class="text-center m-3">
        <div class="m-auto">
            <h3 class="fs-08">VINIFICATION</h3>
        </div>
    </div>
    <div class="savoirfaire-slide3 relpos" id="Vinification">
        <div style="position: absolute; right: 5%; top: 15%; width: 30%;" class="text-white segoe fs-08">
            <h4 class="text-weight-bold">Maitrise et professionnalisme</h4>
            <p>
                Les jus sont placés dans des cuves
                pendant la fermentation alcoolique
                puis malo-lactique. L’évolution naturelle
                du vin est respectée, mais parfaitement
                maîtrisée, à température constante de 18°C.

            </p>
            <p>
                A la fin de la fermentation, les lies sont
                séparées par soutirage et l’on obtient des
                vins tranquilles, les Vins Clairs.

            </p>
            <p class="font-weight-bold">
                Nos vignobles sont harmonieusement
                répartis sur le terroir champenois de
                la Marne et plantés dans de bonnes
                proportions des trois cépages de la
                région. Nous obtenons ainsi une large
                palette de vins clairs permettant à
                l’assemblage de valoriser les qualités
                individuelles de chacun.
            </p>
        </div>
    </div>
    <div class="text-center m-3">
        <div class="m-auto">
            <h3 class="fs-08">ASSEMBLAGE</h3>
        </div>
    </div>
    <div class="savoirfaire-slide4 relpos" id="Assemblage">
        <div style="position: absolute; left: 5%; top: 0; width: 30%; background-color: #2E2B2B; height: 100%;" class="text-white segoe fs-08">
            <div class="m-auto p-3">
                <h4 class="text-weight-bold">L’Assemblage… ou le miracle du Champagne</h4>
                <p>
                    Au printemps, après les frimas de l’hiver,
                    tous les vins élevés en cuve sont patiemment
                    dégustés. Ces différents crus nous permettent
                    de prélever les palettes d’arômes et de saveurs
                    nécessaires pour élaborer, touche après touche,
                    nos assemblages Maison.
                </p>
                <p>
                    Comme le « nez » chez les parfumeurs, notre Chef
                    de Caves va marier ces différents Crus et Cépages,
                    et, le cas échéant, les Millésimes gardés en réserve
                    afin d’obtenir les différentes Cuvées. Cette phase,
                    la plus délicate, est un art qui requiert expérience
                    et virtuosité.
                </p>
                <p class="font-weight-bold">
                    Comme le « nez » chez les parfumeurs, notre
                    Chef de Caves va marier ces différents Crus et
                    Cépages, et, le cas échéant, les Millésimes gardés
                    en réserve afin d’obtenir les différentes Cuvées.
                    Cette phase, la plus délicate, est un art qui requiert
                    expérience et virtuosité.
                </p>
                <p>
                    Chaque Cuvée, additionnée de liqueur et de levures
                    sélectionnées, est ensuite mise en bouteilles, c’est le
                    tirage. C’est ainsi que naissent notre Carte d’Or, nos
                    Millésimes...
                </p>
            </div>



        </div>

    </div>
    <div class="text-center m-3">
        <div class="m-auto">
            <h3 class="fs-08">LE VIEILLISSEMENT SUR LIES</h3>
        </div>
    </div>
    <div class="savoirfaire-slide5 relpos" id="Vieillissement">
        <div style="position: absolute; left: 5%; top: 5%; width: 35%;" class="text-white segoe fs-08">
            <p>
                Les bouteilles, couchées « sur lattes » reposent à 8-10°C, dans nos
                caves creusées dans la craie, à un taux d’humidité de 80 à 90%.
            </p>
            <p>
                Sous l’action des levures, une seconde fermentation se déroule et
                provoque un dégagement de gaz carbonique qui se dissout
                dans le vin, créant une forte pression : c’est
                la « prise de mousse ». Le vin tranquille est devenu
                Champagne.
            </p>
            <p>
                Puis, un dépôt apparaît : les lies. Petit
                à petit, des arômes complexes forment le
                bouquet, les bulles s’affinent, le vin s’assouplit.
            </p>
            <p>
                Les vins vont encore se reposer en cave sur lattes le
                temps nécessaire pour atteindre leur pleine maturité :
            </p>
            <ul>
                <li>2 à 3 ans pour notre Carte Noire,</li>
                <li>4 ans pour nos Carte d’Or, Perles de Rosé et Blanc de Blancs,</li>
                <li>5 ans et plus pour nos Millésimes et Cuvée Intemporelle.</li>
            </ul>
            <p>
                Durant cette période, à l’abri de la lumière, dans la fraîcheur constante de nos caves, le Champagne mûrit doucement pour atteindre l’incomparable délicatesse et la perfection de goût qui le caractérisent :
            </p>
            <p class="font-weight-bold">
                Un grand Champagne est lent à révéler sa personnalité.
                Le temps est son meilleur allié.
            </p>
        </div>
    </div>
    <div class="text-center m-3">
        <div class="m-auto">
            <h3 class="fs-08">REMUAGE ET DEGORGEMENT</h3>
        </div>
    </div>
    <div class="savoirfaire-slide6 relpos" id="Remuage">
        <div style="position: absolute; right: 2%; top: 15%; width: 25%;" class="text-white segoe fs-08">
            <h4 class="text-weight-bold">Ultimes préparatifs</h4>
            <p>
                Pendant le remuage, les bouteilles
                sont amenées progressivement à la
                position dite sur pointe, goulot en bas,
                et remuées chaque jour pour rassembler la lie
                sur le bouchon.
            </p>
            <p>
                Au dégorgement, la lie est expulsée et
                remplacée par la liqueur, faite de sucre de
                canne dissout dans un vin vieux de Champagne.
                C’est cette opération qui, par son dosage en
                sucre, déterminera l’appellation BRUT ou DEMI-SEC
                du Champagne.
            </p>
            <p>
                La bouteille reçoit ensuite son bouchon
                de liège et son muselet; elle est alors
                contrôlée individuellement, c’est le relevage.
            </p>
            <p>
                Enfin elle redescendra encore 3 à 4 mois
                en cave avant sa commercialisation afin
                de permettre une bonne homogénéisation
                du vin et de la liqueur.
            </p>
        </div>

    </div>
    <div class="container text-center my-2">

        <div class="segoe font-weight-bold active my-3 fs-08">

            « C’EST UNE ALCHIMIE MYSTERIEUSE OU LES CAVES OBSCURES
            CREUSEES DANS LA CRAIE PERMETTENT DES TRANSMUTATIONS
            D’OU SORTIRONT *L’OR LIQUIDE ET LES BULLES AERIENNES.
            IL FAUT DIRE QUE LE SECRET A UN NOM : LE TRAVAIL,
            LE TRAVAIL ET ENCORE LE TRAVAIL »
        </div>
        <div class="edwardian active my-3 fs-12 w-75 ml-auto">Professeur Edouard Zarifian</div>
    </div>
    <div class="savoirfaire-slide7">

    </div>
    <div class="container text-center my-2">

        <div class="segoe font-weight-bold active my-3 fs-08">

            « LE CHAMPAGNE EST LE VIN
            DE LA CIVILISATION »
        </div>
        <div class="edwardian active my-3 fs-12 w-75 ml-auto">Talleyrand</div>
        <div id="Gastronomie">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/savoirfaire.js') }}"></script>
{% endblock %}