<div style="height: 500px; background-color: black;" class="relpos">
    <div class="w-50 text-center text-white m-auto segoe center-div">
        <h2>CATALOGUE EN COURS DE DEVELOPPEMENT</h2>

    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>


    </div>

</div>