{% extends 'base.html.twig' %}

{% block content %}
<div class="text-center container" style="height:calc(100vh - 300px);position: relative">
    <div class="center-div">
        <h1 class="fs-18 edwardian">Merci pour votre commande !</h1>
        <p class="segoe fs-1">
            Vous allez reçevoir un mail de validation de votre commande, et être contacté pour régler les modalités de paiement
        </p>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}