{% extends 'base.html.twig' %}

{% block content %}
    <div class="vignoble-slide1">

    </div>
    <nav id="vignoble-nav">
        <ul class="vignoble-list">
            <li class="px-3"><a id="LaMaison" href="#Histoire">Le vignoble Champenois</a></li>
            <li class="px-3"><a id="SavoirFaire" href="#Why">Nos vignobles</a></li>
            <li class="px-3"><a id="Champagnes" href="#Origines">Les cépages</a></li>
            <li class="px-3"><a id="Champagnes" href="#Origines">La vigne</a></li>
        </ul>
    </nav>
    <div class="container text-center my-2">

        <div class="segoe font-weight-bold active my-3 fs-1 w-75 m-auto">
            "C’EST LA CONJUGAISON EXCLUSIVE D'UN CLIMAT DIFFICILE,
            VIGNOBLE LE PLUS SEPTENTRIONAL,
            D'UN SOL PAUVRE, D'UN SOUS SOL CRAYEUX SANS EQUIVALENT
            QUI PERMETTENT A LA CHAMPAGNE DE PRODUIRE UN VIN UNIQUE
            AU MONDE:
            LE CHAMPAGNE"
        </div>
        <div class="edwardian active my-3 fs-14 w-75 ml-auto">Martine Wallaert Lathuillière</div>
    </div>
    <div class="vignoble-slide2">

    </div>
    <div class="text-center m-3">
        <div class="m-auto">
            <h3 class="fs-08">LE VIGNOBLE CHAMPENOIS</h3>
        </div>
    </div>
    <div class="vignoble-slide3 relpos">
        <div style="position: absolute; right:5%; top: 0; width: 30%; background-color: #2E2B2B; height: 100%;" class="text-white segoe fs-08">
            <div class="m-auto p-3">
                <h4 class="text-weight-bold">Une mosaïque de 300 000 jardins de vignerons</h4>
                <p>
                    La prestigieuse Appellation Champagne représente
                    actuellement 35 000 ha, répartis sur 321 villages
                    ou « Crus », situés dans la Marne, l’Aube et l’Aisne.
                </p>
                <p>
                    17 villages, Grands Crus ou Crus à 100% se partagent
                    les plus nobles coteaux de la Marne.
                </p>
                <p>
                    Puis viennent les 41 Premiers Crus ou Crus
                    de 90 à 99%.
                </p>
                <p>
                    Enfin les Crus de 80 à 89%,
                    majoritaires dans l’Aube et l’Aisne.
                </p>
                <p>
                    Les vignobles marnais sont répartis
                    sur trois zones renommées :
                </p>
                <ul>
                    <li>La Montagne de Reims, au Sud-Est
                        de Reims où le Pinot Noir domine
                        avec ses vins puissants et charpentés.
                    </li>
                    <li>
                        La Vallée de la Marne, où alternent le
                        Pinot Noir, à l’Est, et le Pinot Meunier,
                        à l’Ouest.
                    </li>
                    <li>
                        La Côte des Blancs, au Sud d’Epernay,
                        site de prédilection du Chardonnay.
                    </li>
                </ul>
                <div style="width: available; height: 200px" class="m-auto">
                    <img style="height: -webkit-fill-available; width: auto;" src="{{ asset('ressource/image/vignoble/map-reims.jpg') }}">

                </div>
            </div>



        </div>

    </div>
    <div>
        <p>Texte en développement</p>
    </div>
    
    <div style="display: flex;">
        <div class="vignoble-slide4-left">
            
        </div>
        <div class="vignoble-slide4-right">
            
        </div>

    </div>
    <div>
        <p>Texte en développement</p>
    </div>
    <div class="vignoble-slide5">

    </div>
    <div>
        <p>Texte en développement</p>
    </div>

{% endblock %}