{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid bg-dark" style="height: calc(100vh - 300px)">
        <h1 class="text-white">En cours de développement</h1>


    </div>


{% endblock %}