{% extends 'base.html.twig' %}

{% block content %}
    <div class="forgot-pass-bg relpos text-center">
        <div class="checkout-container center-div bg-white p-3" style="border: 1px solid black;">
            <h1 class="edwardian fs-16 active">Récupération de mot de passe</h1>
            <p>Veuillez changer votre mot de passe
            </p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            {% if success %}
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
