.accueil-slide1{
    background-image: url("../../public/ressource/image/accueil/cave_champagne.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: calc(100vh - 250px);
}

.accueil-slide2{
    background-image: url("../../public/ressource/image/accueil/bouteilles_champagne.jpg");
    min-height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.accueil-2 .links{
    background-image: url("../../public/ressource/image/accueil/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}


.chapter div{
    height: 10vh;
}

.website-plan a{
    text-decoration: none;
    color: black;
}

.website-plan a:hover{
    text-decoration: none;
    color: black;
}

.website-plan{
    background: url("../../public/ressource/image/accueil/logo.jpg");
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: 20vw;
}

