.accueil-slide1{
    background-image: url("../../public/ressource/image/accueil/cave_champagne.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: calc(100vh - 250px);
}

.accueil-slide2{
    background-image: url("../../public/ressource/image/accueil/bouteilles_champagne.jpg");
    height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.accueil-2 .links{
    background-image: url("../../public/ressource/image/accueil/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}


.chapter div{
    height: 10vh;
}

.title-sitemap{
    height: 10vh;
}

.website-plan a{
    text-decoration: none;
    color: black;
}

.website-plan a:hover{
    text-decoration: none;
    color: black;
}

.website-plan{
    background: url("../../public/ressource/image/accueil/logo.jpg");
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: 20vw;
}

/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .accueil-slide1{
        background-size: cover;
        height: 25vh;
    }

    .accueil-slide2{
        background-size: cover;
        height: 25vh;
        background-attachment: unset;

    }

    .chapter div{
        height: 3vh;
    }

    .title-sitemap{
        height: 5vh;
    }

    .website-plan{
        background: url("../../public/ressource/image/accueil/logo.jpg");
        background-position: 50% 60%;
        background-repeat: no-repeat;
        background-size: 30vw;
    }
}

/* Smartphones(landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .accueil-slide1{
        background-size: cover;
        height: 100vh;
    }

    .accueil-slide2{
        background-size: cover;
        height: 100vh;
        background-attachment: unset;

    }

    .chapter div{
        height: 7vh;
    }

    .title-sitemap{
        height: 10vh;
    }

    .website-plan{
        background: url("../../public/ressource/image/accueil/logo.jpg");
        background-position: 50% 60%;
        background-repeat: no-repeat;
        background-size: 30vw;
    }

}


/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

