.accueil-slide1{
    background-image: url("../../public/ressource/image/accueil/cave_champagne.jpg");
    min-height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.accueil-slide2{
    background-image: url("../../public/ressource/image/accueil/bouteilles_champagne.jpg");
    min-height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.accueil-2 .links{
    background-image: url("../../public/ressource/image/accueil/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}


.chapter div{
    height: 10vh;
}

.website-plan a{
    text-decoration: none;
    color: black;
}

select, select > option{
    color: white;
    background: transparent!important;
    padding: 3px 10px;

}

select:focus{
    border-color: white;
    outline: 0;
}
option:not(:hover) {
    color:black;
}

.button-container > a, .button-container > input {
    width: 100px;
}

.button-container a{
    text-decoration: none;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.button-container input{
    background-color: transparent;
    border: 1px solid white;
    outline:0;
    color: white;
}

.button-container input:hover, select:hover{
    cursor: pointer;
}