.header-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: fit-content;
    display: flex;
}

nav{
    background-color: #333;
}

.header-list a {
    display: block;
    font-family: "Book Antiqua", sans-serif;
}

.header-list li {

}

.header-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

