#header{background-color: white;}

.header-list, .footer-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: flex;
}

#header-nav, #footer{
    background-color: #333;
}

.header-list a{
    display: block;
    font-family: "Book Antiqua", sans-serif;
    font-size: 1.25vw;
}

.footer-list a {
    display: block;
    font-family: "Book Antiqua", sans-serif;
    font-size: 0.8vw;
}


.header-list li a, .footer-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.fs-18{
    font-size: 1.8em;
}

.fs-17{
    font-size: 1.7em;
}

.fs-16{
    font-size: 1.6em;
}

.fs-15{
    font-size: 1.5em;
}

.fs-14{
    font-size: 1.4em;
}

.fs-13{
    font-size: 1.3em;
}

.fs-12{
    font-size: 1.2em;
}

.fs-11{
    font-size: 1.1em;
}

.fs-1{
    font-size: 1em;
}

.fs-08{
     font-size: 0.8em;
 }

.fs-07{
    font-size: 0.7em;
}

.fs-06{
    font-size: 0.6em;
}

.fs-05{
    font-size: 0.5em;
}

.fs-04{
    font-size: 0.4em;
}

.active{
    color: #CEBB97!important;
}

.edwardian{
    font-family: "Edwardian Script ITC", sans-serif!important;
}

.segoe{
    font-family: "Segoe UI", sans-serif!important;
}

.relpos{
    position: relative;
}

.center-div{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.bg-grey-cs{
    background-color: #787171;
}

.fc-grey-cs{
    color: #707070;
}

.bg-without-url{
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky-nav-sec{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.z-index-nav-sec{
    z-index: 20;
}

.down{
    top: 0!important;
}

#fixed-hd{
    height: 70px;
    -webkit-transition: top 0.2s ease-out;
    -moz-transition: top 0.2s ease-out;
    -o-transition: top 0.2s ease-out;
    transition: top 0.2s ease-out;
}

.hd-nav{
    position: relative;
    z-index: 99999;
    top: 0;
    -webkit-transition: top 0.5s ease-out;
    -moz-transition: top 0.5s ease-out;
    -o-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
}

.fixed{
    position: fixed;
    width: 100%;
    top: 70px !important;
}

.fill{
    display: block!important;
}



