#header{background-color: white;}

.header-list, .footer-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: fit-content;
    display: flex;
}

#header-nav, #footer{
    background-color: #333;
}

.header-list a{
    display: block;
    font-family: "Book Antiqua", sans-serif;
    font-size: 1.25vw;
}

.footer-list a {
    display: block;
    font-family: "Book Antiqua", sans-serif;
    font-size: 0.8vw;
}


.header-list li a, .footer-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-list li a:hover {
    background-color: #111;
}

.fs-16{
    font-size: 1.6em;
}

.fs-14{
    font-size: 1.4em;
}

.fs-12{
    font-size: 1.2em;
}

.fs-1{
    font-size: 1em;
}

.fs-08{
    font-size: 0.8em;
}

.fs-06{
    font-size: 0.6em;
}

.fs-04{
    font-size: 0.4em;
}

.active{
    color: #CEBB97!important;
}

.edwardian{
    font-family: "Edwardian Script ITC", sans-serif!important;
}

.segoe{
    font-family: "Segoe UI", sans-serif!important;
}

.relpos{
    position: relative;
}

.center-div{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.bg-grey-cs{
    background-color: #787171;
}

.fc-grey-cs{
    color: #707070;
}


