
.shop-button{
    color: white;
    background-color: #CEBB97;
    border: none;
    outline: 0;
}

.shop-button:hover{
    cursor: pointer;
}

.middle-div > div > div, .middle-div > div{
    display:flex;justify-content:center;align-items:center;
}

.shop-animate-all{
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

#modal-box .form-control, #modal-box button{
    color: white!important;
    background-color: black!important;
    border: 1px solid white!important;
    border-radius: 0px;
}

#modal-box button{
    cursor: pointer;
}



#modal-cross{
    cursor: pointer;
}

#modal-box-validation, #modal-validation{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.md-show{
    top: 50px!important;
}

#modal-box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 30%;
    background-color: black;
}

#modal-option{
    display: none;
    z-index: 4000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(46, 43, 43, 0.75);
}

#modal-box-validation{
    z-index: 4000;
    position: fixed;
    top: -250px;
    left:50%;
    transform: translate(-50%, 0);
    height: 25%;
    width: 25%;
    border-radius: 10px;
    background-color: gray;
}

.champagne-name{
    min-height: 10vh;
}


/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #modal-box{
        height: 40%;
        width: 70%;
    }

    #modal-box-validation{
        height: 30%;
        width: 60%;
    }

}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}
