.boutique-slide1{
    background-image: url("../../public/ressource/image/boutique/cave.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 80vh;
}

.shop-button{
    color: white;
    background-color: #CEBB97;
    border: none;
    outline: 0;
}

.shop-button:hover{
    cursor: pointer;
}

.middle-div > div > div, .middle-div > div{
    display:flex;justify-content:center;align-items:center;
}

.shop-animate-all{
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}