.champagnes-slide1{
    background-image: url("../../public/ressource/image/champagnes/cave.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: calc(100vh - 250px);
}

.champagnes-slide2{
    background-image: url("../../public/ressource/image/champagnes/horizon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}



/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


    .champagnes-slide1{
        background-size: cover;
        height: 25vh;
        background-attachment: unset;
    }

    .champagnes-slide2{
        background-size: cover;
        height: 25vh;
        background-attachment: unset;
    }
}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}


