.bg-without-url{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}


/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .bg-without-url{
        background-size: cover;
        height: 25vh;
        background-attachment: unset;
    }
}

/* Smartphones(landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .bg-without-url{
        height: 75vh;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .bg-without-url{
        background-size: cover;
        height: 25vh;
    }
}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .bg-without-url{
        height: 75vh;
    }
}
