.champagnes-slide1{
    background-image: url("../../public/ressource/image/champagnes/cave.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 63vh;
}

.champagnes-slide2{
    background-image: url("../../public/ressource/image/champagnes/horizon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

