.checkout-bg{
    background-image: url("../../public/ressource/image/accountAndOrder/champagne_glass.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 300px);
}

.checkout-bg label{
    display: none;
}

/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* Smartphones(landscape) */
@media (min-width: 481px) and (max-width: 767px) {

}