.checkout-bg{
    background-image: url("../../public/ressource/image/accountAndOrder/champagne_glass.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 300px);
}

.checkout-bg label{
    display: none;
}

.checkout-container{
    border: 1px solid black;
    width: 80% !important;
    height: 50%!important;
}

/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .checkout-container{
        width: 95%!important;
        height: auto!important;
    }
    .checkout-bg{
        min-height: 480px;
    }
}

/* Smartphones(landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .checkout-container{
        width: 95%!important;
        height: auto!important;
    }
    .checkout-bg{
        min-height: 320px;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .checkout-bg{
        min-height: 1000px;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .checkout-bg{
        min-height: 700px;
    }
    .checkout-container{
        width: 95%!important;
        height: auto!important;
    }
}