.background-contact{
    background-image: url("../../public/ressource/image/contact/bouteille.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-contact-logo{
    background-image: url("../../public/ressource/image/contact/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20vw;
}