.maison-slide1{
    background-image: url("../../public/ressource/image/maison/cave.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: calc(100vh - 250px);
}

.maison-slide2{
    background-image: url("../../public/ressource/image/maison/lettre.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: 0px 165px;
    background-repeat: no-repeat;
    background-size: cover;
}

.maison-slide3{
    background-image: url("../../public/ressource/image/maison/arbre.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.house-picture{
    height: auto;
}

.house-picture img{
    width: 70%;
}


.circle{
    position: absolute;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    border-radius: 1000px;
    width: 1vw;
    height: 1vw;
    background-color: white;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#slide-container, #slide-container img{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.slide-active{
    opacity: 1!important;
}

#circle-1{
    left: 0%;
}
#circle-2{
    left: 25%;
}
#circle-3 {
    left: 50%;
}
#circle-4{
    left: 75%;
}
#circle-5{
    left: 100%;
}

.circle-active{
    background-color: #CEBB87;
    width: 2vw;
    height: 2vw;
}

.bar-container{
    position: relative;
    width: 50%;
    height: 50px;
}

.bar-container > .bar{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
}

.origine-title{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.maison-txt{
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.histoire-container > h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.slide-anim{
    height: 23vw;
}

#slide-container{
    width: 115vw;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

#slide-container > div{
    width: 23vw;
    height: 23vw;
    opacity: 0.5;
}

#slide-container > div > img{
    width: 23vw;
    height: 23vw;
}



/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .maison-slide1{
        background-size: cover;
        height: 25vh;
    }

    .maison-slide2{
        background-size: cover;
        height: 25vh;
        background-position: center;
        background-attachment: unset;
    }

    .maison-slide3{
        background-size: cover;
        height: 25vh;
        background-attachment: unset;
    }

    .pds-container{
        height: 25vh;
    }

    .circle-active{
        width: 4vw;
        height: 4vw;
    }

    .circle{
        width: 3vw;
        height: 3vw;
    }

    .bar-container{
        width: 80%;
    }

    .origine-title{
        padding-top: 0;
        padding-bottom: 0;
    }

    .maison-txt{
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .histoire-container > h2{
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-bottom: 0;
    }

    .slide-anim{
        height: 40vw;
    }

    #slide-container{
        width: 200vw;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
    }

    #slide-container > div{
        width: 40vw;
        height: 40vw;
        opacity: 0.5;
    }

    #slide-container > div > img{
        width: 40vw;
        height: 40vw;
    }

    .house-picture img{
        width: 50%;
    }


}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}


