.register1{
    background-image: url("../../public/ressource/image/inscription/champs.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 250px);
}

.register1 .form-control, .register1 button{
    color: white!important;
    background-color: black!important;
    border: 1px solid white!important;
    border-radius: .25rem;
}
.register1 label{
    display: none;
}

.register1 ::placeholder{
    color: white!important;
}

.register2{
     background-image: url("../../public/ressource/image/inscription/cave.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 70vh;
 }

.register3{
    background-image: url("../../public/ressource/image/inscription/bouchon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}


.register2 > div, .register3 > div {
    height: calc(50vh / 3);
    width: 100%;
}

.register2 > div > div , .register3 > div > div{
    width: 100%;
    height: 100%;
}

.register-title{
    font-size: 5vw;
}

.register-subtitle{
    font-size: 1.5vw;
}


/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .register2{
        min-height: 50vh;
    }

    .register3{
        min-height: 50vh;
    }

    .register-title{
        font-size: 9vw;
    }

    .register-subtitle{
        font-size: 5vw;
    }
}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}



