.savoirfaire-slide1{
    background-image: url("../../public/ressource/image/savoirfaire/raisin.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide2{
    background-image: url("../../public/ressource/image/savoirfaire/vendange.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide3{
    background-image: url("../../public/ressource/image/savoirfaire/fut.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide4{
    background-image: url("../../public/ressource/image/savoirfaire/coupe_champagne.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide5{
    background-image: url("../../public/ressource/image/savoirfaire/cave.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide6{
    background-image: url("../../public/ressource/image/savoirfaire/champagne.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide7{
    background-image: url("../../public/ressource/image/savoirfaire/bouchon.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.savoir-faire-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    
    display: flex;
}

#savoir-faire-nav{
    background-color: #787171;
}

.savoir-faire-list a{
    display: block;
    font-family: "Book Antiqua", sans-serif;
    font-size: 1.25vw;
}


.savoir-faire-list li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.savoir-faire-list a{
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
}

.sf-txt{
    font-size: 0.9em;
}

.txt-s-2{
    position: absolute;
    left: 5%;
    top: 50%;
    width: 30%;
    transform: translateY(-50%);
}

.txt-s-3{
    position: absolute;
    right: 5%;
    top: 50%;
    width: 30%;
    transform: translateY(-50%);
}

.txt-s-4{
    position: absolute;
    left: 5%;
    top: 0;
    width: 35%;
    background-color: #2E2B2B;
    height: 100%;
}

.txt-s-5{
    position: absolute;
    left: 5%;
    top: 50%;
    width: 35%;
    transform: translateY(-50%);
}

.txt-s-6 {
    position: absolute;
    right: 2%;
    top: 50%;
    width: 35%;
    transform: translateY(-50%);
}

/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .txt-s-2{
        width: 90%;
    }
    .txt-s-3{
        width: 90%;
    }
    .txt-s-4{
        width: 90%;
    }
    .txt-s-5{
        width: 90%;
    }
    .txt-s-6 {
        width: 90%;
    }
    .savoirfaire-slide5{
        min-height: 120vh;
    }

}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .txt-s-2{
        width: 70%;
    }
    .txt-s-3{
        width: 70%;
    }
    .txt-s-4{
        width: 70%;
    }
    .txt-s-5{
        width: 70%;
    }
    .txt-s-6 {
        width: 70%;
    }
    .savoirfaire-slide5{
        min-height: 120vh;
    }
}
