.savoirfaire-slide1{
    background-image: url("../../public/ressource/image/savoirfaire/raisin.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide2{
    background-image: url("../../public/ressource/image/savoirfaire/vendange.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide3{
    background-image: url("../../public/ressource/image/savoirfaire/fût.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide4{
    background-image: url("../../public/ressource/image/savoirfaire/coupe-champagne.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide5{
    background-image: url("../../public/ressource/image/savoirfaire/cave.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide6{
    background-image: url("../../public/ressource/image/savoirfaire/champagne.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.savoirfaire-slide7{
    background-image: url("../../public/ressource/image/savoirfaire/bouchon.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}