.vignoble-slide1{
    background-image: url("../../public/ressource/image/vignoble/vignoble.jpg");
    min-height: 75vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vignoble-slide2{
    background-image: url("../../public/ressource/image/vignoble/glace.jpg");
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vignoble-slide3{
    background-image: url("../../public/ressource/image/vignoble/vignoble_champagne.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vignoble-slide4-left {
    width: 50%;
    height: fit-content;
    background-image: url("../../public/ressource/image/vignoble/champagne_eglise.jpg");
    min-height: 70vh;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
}

.vignoble-slide4-right{
    width: 50%;
    height: fit-content;
    background-image: url("../../public/ressource/image/vignoble/champagne_moulin.jpg");
    min-height: 70vh;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
}

.vignoble-slide5{
    background-image: url("../../public/ressource/image/vignoble/entretien_vignoble.jpg");
    min-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.vignoble-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    
    display: flex;
}

#vignoble-nav{
    background-color: #787171;
}

.vignoble-list a{
    display: block;
    font-family: "Book Antiqua", sans-serif;
    font-size: 1.25vw;
}


.vignoble-list li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.vignoble-list a{
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
}

.cepage-1{
    background-image: url("../../public/ressource/image/vignoble/pinot_meunier.jpg");
    background-size: cover;
}

.cepage-2{
    background-image: url("../../public/ressource/image/vignoble/chardonnay.jpg");
    background-size: cover;
}

.cepage-3{
    background-image: url("../../public/ressource/image/vignoble/pinot-noir.jpg");
    background-size: cover;
}

.slideup{
    animation-duration: 2s;
    animation-name: slideup;

    bottom: 0;
}

.text-hidden{
    top: 17.5em;
}

.vignoble-txt-1{
    position: absolute;
    right:2%;
    top: 0;
    width: 40%;
    background-color: #2E2B2B;
    height: 100%;
}
.vignoble-txt-2{
    width: 30%;
}

.vignoble-txt-3{
    width: 30%;
}

.vignes-container{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.vignes{
    width: 14em;
    height: 21em;
    overflow: hidden;
}

.vignoble-section{
    height: 20vh;
    position: relative;
}



@keyframes slideup {
    from{
        bottom : revert;
    }
    to {
        bottom: 0px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .vignoble-txt-1{
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .vignoble-slide3{
        min-height: 140vh;
    }
    .vignoble-txt-2{
        width: 80%;
    }

    .vignoble-txt-3{
        width: 80%;
    }
    .vignoble-slide4-left {
        min-height: 90vh;
    }
    .vignoble-slide4-right {
        min-height: 90vh;
    }
    .vignoble-slide5{
        min-height: 90vh;
    }
    .vignes-container{
        display: block;
    }
    .vignes{
        width: 14em;
        height: 21em;
        overflow: hidden;
    }
}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .vignoble-txt-2{
        width: 80%;
    }

    .vignoble-txt-3{
        width: 80%;
    }
}
