.vignoble-slide1{
    background-image: url("../../public/ressource/image/vignoble/vignoble.jpg");
    background-position: 0 -70px;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: calc(100vh - 250px);
}

.vignoble-slide2{
    background-image: url("../../public/ressource/image/vignoble/glace.jpg");
    height: calc(100vh - 168px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vignoble-slide3{
    background-image: url("../../public/ressource/image/vignoble/vignoble_champagne.jpg");
    height: 130vh;
    background-attachment: fixed;
    background-position: 0px 170px;
    background-repeat: no-repeat;
    background-size: cover;
}

.vignoble-slide4-left {
    width: 50%;
    background-image: url("../../public/ressource/image/vignoble/champagne_eglise.jpg");
    height: calc(100vh - 168px);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
}

.vignoble-slide4-right{
    width: 50%;
    background-image: url("../../public/ressource/image/vignoble/champagne_moulin.jpg");
    height: calc(100vh - 168px);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
}

.vignoble-slide5{
    background-image: url("../../public/ressource/image/vignoble/entretien_vignoble.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cepage-1{
    background-image: url("../../public/ressource/image/vignoble/pinot_meunier.jpg");
    background-size: cover;
}

.cepage-2{
    background-image: url("../../public/ressource/image/vignoble/chardonnay.jpg");
    background-size: cover;
}

.cepage-3{
    background-image: url("../../public/ressource/image/vignoble/pinot-noir.jpg");
    background-size: cover;
}

.vignoble-txt-1{
    position: absolute;
    right:5%;
    top: 0;
    width: 35%;
    background-color: #2E2B2B!important;
    height: 100%;

}

.vignoble-txt-1>div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.vignoble-txt-2{

}

.vignoble-txt-3{
}

.vignes-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
}



.vigne-txt{
    display: table;
}

.vigne-txt > p{
    display: table-cell;
    vertical-align: middle;
}

.vignes{
    width: 15em;
    height: 21em;
    overflow: hidden;
}
.vignes>div{
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.vignes h2{
    height: 50px;
    line-height: 50px;

}
.slideup{
    bottom: 0;
}
.text-hidden{
    bottom: 50px;
    transform: translateY(100%);
}
.vignoble-section{
    height: 20vh;
    position: relative;
}

.map-container{
    height: 250px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .vignoble-txt-1{
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
    }
    .vignoble-slide3{
        height: 140vh;
    }
    .vignoble-txt-2{
        width: 80%;
    }

    .vignoble-txt-3{
        width: 80%;
    }

    .vignoble-slide5{
        height: 90vh;
    }

    .vignes{
        width: 28vw;
        height: 30vh;
        overflow: hidden;
    }

    .vignoble-slide1{
        background-size: 100vw;
        height: 25vh;
        background-attachment: unset;
    }

    .vignoble-slide2{
        background-size: 100vw;
        height: 25vh;
        background-attachment: unset;
    }

    .vignoble-slide3{
        background-position: bottom;
        background-size: cover;
        height: 90vh;
        background-attachment: unset;
    }

    .vignoble-slide4-left {
        height: 90vh;
        background-size: cover;
        background-attachment: unset;
    }
    .vignoble-slide4-right {
        height: 90vh;
        background-size: cover;
        background-attachment: unset;
    }

    .vignoble-slide5{
        background-size: cover;
        height: 90vh;
        background-attachment: unset;
    }

    .map-container{
        height: 10vh;
    }

    .vignes-container{
        width: 100%;
    }
}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .vignoble-txt-2{
        width: 80%;
    }

    .vignoble-txt-3{
        width: 80%;
    }
}
