<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<p>
    Bonjour,<br>
    Une demande de récupération de mot de passe a été effectuée sur notre site www.champagne-philippedesorbon.com,<br>
    si vous êtes à l'origine de cette demande, veuillez cliquer sur <a href="{{ app.request.schemeAndHttpHost }}/RecupererMotDePasse/{{ hashCode }}">ce lien</a><br>
    Si vous n'êtes pas à l'origine de cette demande, veuillez nous contacter.<br><br>

    Martine WALLAERT <br>
    Champagne Philippe de Sorbon
</p>
</body>
</html>

