{% extends 'base.html.twig' %}

{% block content %}
<div class="text-center relpos" style="height: calc(100vh - 300px); background-color: black">
    <h1 class="center-div text-white">Bientôt disponible</h1>

</div>
{% endblock %}