{% extends 'view/food/foodTemplate.html.twig' %}

{% block picture %}
    <img style="width: 20vw; height: 20vw;" src="{{ asset('ressource/image/food/charlotte.jpg') }}">
{% endblock %}
{% block foodType %}
    Dessert
{% endblock %}
{% block foodTitle %}
    Charlotte rose aux fruits rouges et Champagne Perles de Rosé
{% endblock %}
{% block temps %}
        25 min<br>
        +12h au frais<br><br>
        Un peu délicat
        et abordable
{% endblock %}
{% block metVins%}

        Accord idéal avec<br>
        le Champagne<br>
        Philippe de Sorbon<br>
        Perles de Rosé
{% endblock %}
{% block ingredients %}
    <h3 class="fs-1 font-italic">Ingrédients</h3>
    <p class="fs-08">
        15 biscuits roses de Reims (Fossier)<br>
        250 g de fraises<br>
        150 g de fraises des bois<br>
        150 g de framboises<br>
        30 cl de crème liquide très froide<br>
        150 g de sucre<br>
        6 grandes feuilles de gélatine (6 x 2 g)<br>
        1 citron jaune<br>
    </p>
    <h3 class="fs-1 font-italic">Pour le décor</h3>
    <p class="fs-08">
        50 g de groseilles<br>
        quelques fraises<br>
        50 g de fraises des bois<br>
        50 g de framboises<br>
        sucre glace
    </p>
{% endblock %}
{% block pictureChampagne %}
    <img style="width: 100%" src="{{ asset('ressource/image/food/champagne_rose.jpg') }}">
{% endblock %}
{% block recette %}
    Mettez à ramollir dans de l’eau froide les feuilles de gélatine. Lavez et égouttez les fraises, équeutez-les. Mettez-les avec les framboises dans le bol d’un mixeur, ajoutez 2 cuillerées à soupe de jus de citron, réduisez en purée et passez au tamis.<br><br>

    Versez le sucre dans une casserole, ajoutez quelques gouttes de citron et 2 cuillerées à soupe d’eau, portez à ébullition et laissez cuire pour obtenir un sirop léger. Hors du feu, ajoutez la gélatine essorée, remuez longuement avec une spatule, puis versez la purée de fruits et remuez encore. Montez la crème en chantilly, incorporez-la délicatement au mélange.
    Garnissez les bords et le fond d’un moule à charlotte de biscuits roses, versez-y la préparation aux fruits, mettez au frais et laissez prendre 12 h au moins.<br><br>

    Au moment de servir, démoulez la charlotte sur un plat de service, décorez avec les fruits réservés, saupoudrez de sucre glace et accompagnez éventuellement d’un coulis de fruits rouges.

{% endblock %}