{% extends 'view/food/foodTemplate.html.twig' %}
{% block meta %}
    <title>Coquille Saint Jacques à la nage</title>
    <meta name="description" content="Coquille Saint Jacques à la nage et Champagne Blanc de Blancs">
{% endblock %}
{% block picture %}
    <img style="width: 20vw; height: 20vw;" src="{{ asset('ressource/image/food/st_jacques.jpg') }}">
{% endblock %}
{% block foodType %}
    {% if lg == 'fr' %}
        Entrée
    {% elseif lg == 'en' %}
        Appetizer
    {% endif %}

{% endblock %}
{% block foodTitle %}
    {% if lg == 'fr' %}
        Coquille Saint Jacques à la nage et Champagne Blanc de Blancs

    {% elseif lg == 'en' %}
        Scallops with Champagne Blanc de Blancs
    {% endif %}
{% endblock %}
{% block temps %}
    {% if lg == 'fr' %}
        30 min préparation<br>
        15 min de cuisson<br><br>
        4 personnes
    {% elseif lg == 'en' %}
        30 min preparation time<br>
        15 min cooking time<br><br>
        4 persons
    {% endif %}

{% endblock %}
{% block metVins %}
    {% if lg == 'fr' %}
        Accord idéal avec<br>
        le Champagne<br>
        Philippe de Sorbon<br>
        Blanc de Blancs
    {% elseif lg == 'en' %}
        Champagne<br>
        Philippe de Sorbon<br>
        Blanc de Blancs
    {% endif %}

{% endblock %}
{% block ingredients %}
    <h3 class="fs-1 font-italic">
        {% if lg == 'fr' %}
            Ingrédients
        {% elseif lg == 'en' %}
            Ingredients
        {% endif %}
    </h3>
    <p class="fs-08">
        {% if lg == 'fr' %}
            12 Noix de Saint Jacques<br>
            250 g de girolles<br>
            2 carottes<br>
            2 poireaux<br>
            2 oignons<br>
            graines de coriandre<br>
            baies roses<br>
            persil<br><br>

            1/2 bouteille Champagne Blanc de Blancs
        {% elseif lg == 'en' %}
            12 Scallops<br>
            250 g chanterelles<br>
            2 carrots<br>
            2 leeks<br>
            2 onions<br>
            coriander seeds<br>
            pink berries<br>
            parsley<br><br>

            1/2 bottle of Champagne Blanc de Blancs
        {% endif %}

    </p>

{% endblock %}
{% block pictureChampagne %}
    <img style="width: 100%" src="{{ asset('ressource/image/food/champagne_blanc.jpg') }}">
{% endblock %}
{% block recette %}
    {% if lg == 'fr' %}
        Faire transpirer dans une sauteuse 250 g de girolles jusqu'à évaporation de l'eau.<br>
        Couper en fins bâtonnets 2 carottes, 2 poireaux et 2 oignons.<br>
        Ajouter dans la sauteuse avec un peu de beurre et les étuver 5 min avec les girolles.<br>
        Mouiller avec 35 cl de Champagne Blanc de Blancs, faire bouiller puis laisser frémir 10 min. Saler, poivrer, ajouter 1 cuillère à café de graines de coriandre, des baies roses et du persil.
        <br>
        Mettre dans la sauteuse 12 coquilles Saint-Jacques lavées à l'eau froide et essuyées et les pocher 1 min de chaque côté. Servir dans des assiettes bien chaudes.
        <br>
    {% elseif lg == 'en' %}
        In a frying pan, swirl 250 g chanterelle mushrooms until the water has evaporated.<br>
        Slice the 2 carrots, 2 leeks and 2 onions.<br>
        Add to the sauté pan with a little butter and steam for 5 minutes with the chanterelles.<br>
        Moisten with 35 cl of Blanc de Blancs Champagne, boil and let simmer for 10 minutes. Salt, pepper, add 1 teaspoon of coriander seeds, pink berries and parsley.<br>
        Put in the skillet 12 scallops washed in cold water and poach 1 min on each side. Serve in hot plates.
    {% endif %}

{% endblock %}