{% extends 'view/food/foodTemplate.html.twig' %}
{% block meta %}
    <title>Risotto</title>
    <meta name="description" content="Risotto allo Champagne">
{% endblock %}
{% block picture %}
    <img style="width: 20vw; height: 20vw;" src="{{ asset('ressource/image/food/risotto.jpg') }}">
{% endblock %}
{% block foodType %}
    Plat
{% endblock %}
{% block foodTitle %}
    Risotto allo Champagne
{% endblock %}
{% block temps %}
    5 min préparation<br>
    20 min de cuisson<br><br>
    4 personnes
{% endblock %}
{% block metVins%}
    Accord idéal avec<br>
    le Champagne<br>
    Philippe de Sorbon<br>
    Carte d'Or
{% endblock %}
{% block ingredients %}
    <h3 class="fs-1 font-italic">Ingrédients</h3>
    <p class="fs-08">
        400 grs de riz rond type Arborio<br>
        200 grs de champignons de Paris (encore meilleur avec des cèpes....)<br>
        100 grs oignons<br>
        50 grs de parmesan rapé<br>
        3 cuillères à soupe d'huile d'olive<br>
        2 Cuillères de fond de veau, du jus de viande ou 2 bouillon cube<br>
        Facultatif: 2 cuillères à soupe de crème fraîche<br><br>

        1/4 bouteille de Champagne<br>
        Philippe de Sorbon Carte d'Or
    </p>
{% endblock %}
{% block pictureChampagne %}
    <img style="width: 100%" src="{{ asset('ressource/image/food/champagne_carte_or.jpg') }}">
{% endblock %}
{% block recette %}
    Faire revenir dans une casserole les oignons finement émincés dans l'huile d'olive.<br>
    Ajouter les champignons également émincés.<br>
    Mettre le riz, le faire revenir en remuant et mouiller avec la moitié du Champagne. saler, poivrer.<br>
    Ajouter le jus de viande (ou le bouillon cube).<br>
    Surveiller la cuisson en remuant régulièrement et en ajoutant progressivement de l'eau qui sera absorbée par le riz.<br>
    A la fin de la cuisson, lier avec le parmesan,un peu de Champagne et éventuellement la crème fraîche.<br>
    Servir très chaud en offrant aux convives le Champagne philippe de Sorbon CARTE D'OR à table.

{% endblock %}